# Dependencies
node_modules/
vendor/

# Build
.next/
out/
dist/
*.exe

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Database
*.sql

# Temp
tmp/
temp/
backend/filmhouse-api
backend/filmhouse-backend
backend/filmhouse-server
